.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


/*.table {*/
    /*width: 100%;*/
    /*background-color: aqua;*/
    /*overflow-x: auto;*/
    /*table-layout: fixed;*/
/*}*/

/*.react-bs-table-container {*/
/*.react-bs-table table td, .react-bs-table table th {*/
    /*white-space: pre-line;*/
    /*text-overflow: unset;*/
    /*overflow-wrap: break-word;*/
/*}*/
/*}*/